/* Main Section */
body {
  background-color:#5E8B7E;
  padding:2% 15% 5%;
  text-align:center;
}
#Main {

}

.title {
  color:#A7C4BC;
  font-family: 'Lobster', cursive;
  font-weight: 400;
  font-size: 7rem;
  padding-bottom: 5%;
}

.player {
  color:white;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 400;
  font-size: 2rem;
}

.dice-img {
  padding: 5% 15% 7%;
}
